.bg-image{
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-position: center;
    background-size: cover;
}

.form-inline{
    position: absolute;
    right: 1%;
}

.imgCircle{
    width:100px;
    height:100px;
    border-radius:50%;
}

.navbar
{
    display: block;
}
    
@media (max-width: 768px){
    .dropdown-button{
        margin-left: 50%;
    }
    
    .offcanvas.offcanvas-end{
        width: 55%;
    }
}

.none-padding{
    padding: 0;
}

.none-margin{
    margin: 0;
}

