.bg-image{
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-position: center;
    background-size: cover;
}

.form-inline{
    position: absolute;
    right: 1%;
}

.imgCircle{
    width:100px;
    height:100px;
    border-radius:50%;
}

.collapse{
    margin-left: 1%;
}