.fullSizeView{
    height: 100%;
    width: 100%;
    position: absolute;
}

.bg-image{
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-position: center;
    background-size: cover;
}

.bg-image-modal{
    background-image: url("https://mcdn.wallpapersafari.com/medium/60/69/BcRF3o.png");
    background-position: center;
    background-size: cover;
}

.custom-btn:hover{
  background-color:grey !important;
  color:black !important; 
}


