* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

/* SELECT STYLES */
.project-sprint-select-create {
    display: flex;
    flex-direction: row;
    padding-left: 32px;
    padding-top: 24px;
}
.project-sprint-select-create select {
    width: 225px;
    max-width: 225px;
}

.projectSelect{
    padding-right: 16px;
}

.sprintSelect{
    padding-right: 16px;
}
.createSprintButton {
    width: 225px;
    max-width: 225px;
    height: 100%;
    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    color: black;

    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.addTaskForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#addTaskButton {
    width: 200px;
    max-width: 200px;
    height: 100%;
    border-radius: 4px;
    border: none;

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    color: black;

    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

/* BOARD STYLES */
.board {
    width: auto;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: scroll;
    min-height: 100vh;
    height: 100vh;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-position: center;
    background-size: cover;
}

/* --------- BOARD --------- */
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;

    padding: 24px 32px;

    overflow: scroll;
    height: 100%;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.swim-lane{
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    padding: 12px;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;

    flex-shrink: 0;
}

.task {
    background: white;
    color: black;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);

    padding: 12px;
    border-radius: 4px;

    font-size: 16px;
    cursor: move;
}

.is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    background: rgb(50, 50, 50);
    color: white;
}